  <footer data-w-id="cd6ac138-cdfe-a877-e284-72d36a10e956" class="footer">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="footer-wrap">
                <a href="/" aria-current="page" class="footer-logo-link w-inline-block w--current">
                    <img src="~/images/thinktank.svg" loading="lazy" alt="Logo" class="footer-logo"/>
                </a>
                <div class="footer-block">
                    <div class="form-block w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="subscribe-footer-form" data-wf-page-id="656d560b812df0530768d62e" data-wf-element-id="cd6ac138-cdfe-a877-e284-72d36a10e95c">
                            <input class="form-input form-input-subscribe w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter email address" type="email" id="Email" required=""/>
                            <input type="submit" data-wait="Please wait..." class="button-white button-subscribe w-button" value="Submit"/>
                        </form>
                        <div class="success-message w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="error-message w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                    <div class="footer-menu-big">
                        <a href="/work" class="footer-menu-big-item w-inline-block">
                            <div class="footer-menu-text-small">. Creative Portfolio</div>
                            <h6>Work</h6>
                        </a>
                        <a href="/service" class="footer-menu-big-item w-inline-block">
                            <div class="footer-menu-text-small">. What we do</div>
                            <h6>Services</h6>
                        </a>
                        <a href="/about" class="footer-menu-big-item w-inline-block">
                            <div class="footer-menu-text-small">. Who we are</div>
                            <h6>About</h6>
                        </a>
                        <a href="/blog" class="footer-menu-big-item w-inline-block">
                            <div class="footer-menu-text-small">. Insights &amp; Ideas</div>
                            <h6>Blog</h6>
                        </a>
                    </div>
                </div>
                <div class="w-layout-grid grid-footer">
                    <div id="w-node-cd6ac138-cdfe-a877-e284-72d36a10e97b-6a10e956" class="footer-item">
                        <div class="footer-title-wrap">
                            <img src="~/images/icon-14.svg" loading="lazy" alt="" class="footer-shape-1"/>
                            <h6 class="footer-title">Pages</h6>
                        </div>
                        <div class="footer-menu">
                            <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                            <a href="/home-2" class="footer-link">Home 2</a>
                            <a href="/work" class="footer-link">Work</a>
                            <a href="/about" class="footer-link">About</a>
                            <a href="/careers" class="footer-link">Careers</a>
                            <a href="/contact" class="footer-link">Contact</a>
                        </div>
                    </div>
                    <div id="w-node-cd6ac138-cdfe-a877-e284-72d36a10e98b-6a10e956" class="footer-item">
                        <div class="footer-title-wrap">
                            <img src="~/images/icon-15.svg" loading="lazy" alt="" class="footer-shape-1"/>
                            <h6 class="footer-title">Utility</h6>
                        </div>
                        <div class="w-layout-grid grid-footer-menu">
                            <div class="footer-menu">
                                <a href="/utility-pages/style-guide" class="footer-link">style guide</a>
                                <a href="/utility-pages/instructions" class="footer-link">instructions</a>
                                <a href="/utility-pages/licenses" class="footer-link">licenses</a>
                                <a href="/utility-pages/changelog" class="footer-link">changelog</a>
                                <a href="https://thinktank-wbs.webflow.io/404" class="footer-link">Error 404</a>
                            </div>
                            <div class="footer-menu">
                                <a href="https://thinktank-wbs.webflow.io/401" class="footer-link">Password protected</a>
                                <a href="/utility-pages/coming-soon" class="footer-link">Coming soon</a>
                                <a href="/utility-pages/link-in-bio" class="footer-link">Link in bio</a>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-cd6ac138-cdfe-a877-e284-72d36a10e9a3-6a10e956" class="footer-item">
                        <div class="footer-title-wrap">
                            <img src="~/images/icon-16.svg" loading="lazy" alt="" class="footer-shape-1"/>
                            <h6 class="footer-title">Contact</h6>
                        </div>
                        <div class="footer-contact">
                            <p class="no-margin">Chicago HQ Estica Cop. Macomb, MI 48042</p>
                            <a href="tel:+22565852546" class="text-white">+2 256 585 2546</a>
                            <a href="mailto:Info@example.com" class="text-white">Info@example.com</a>
                        </div>
                    </div>
                    <div id="w-node-cd6ac138-cdfe-a877-e284-72d36a10e9af-6a10e956" class="footer-item">
                        <div class="footer-title-wrap">
                            <img src="~/images/icon-17.svg" loading="lazy" alt="" class="footer-shape-1"/>
                            <h6 class="footer-title">Social media</h6>
                        </div>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/" target="_blank" class="footer-social-item w-inline-block">
                                <img src="~/images/facebook.svg" loading="lazy" alt="" class="footer-social-icon"/>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="footer-social-item w-inline-block">
                                <img src="~/images/instagram.svg" loading="lazy" alt="" class="footer-social-icon"/>
                            </a>
                            <a href="https://www.twitter.com/" target="_blank" class="footer-social-item w-inline-block">
                                <img src="~/images/twitter.svg" loading="lazy" alt="" class="footer-social-icon"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-menu-inline">
                        <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
                    </div>
                    <div>Designed by
                        <a href="https://webestica.com/" target="_blank">Webestica</a>, Powered by
                        <a href="https://webflow.com/" target="_blank">Webflow</a>
                    </div>
                </div>
                <div class="marquee-footer-medium-wrap">
                    <div class="marquee-big-items">
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                    </div>
                    <div class="marquee-big-items">
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                        <a href="/contact" class="marquee-medium-item">Get in touch.</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>