@{ Layout = "_Layout"; } 

<div class="utility-page-wrap">
    <div class="utility-page-content">
        <h1 class="error-title">ER
            <span class="error-title-inner">R0</span>R
        </h1>
        <h2>Page dont working</h2>
        <div class="margin-bottom-32">Не работает в общем</div>
        <a href="/" class="button-primary-1 w-button">Back to home</a>
    </div>
</div>