@{ Layout = "_Layout"; } 

<div class="utility-page-wrap">
    <div class="utility-page-content">
        <h1 class="error-title">4
            <span class="error-title-inner">0</span>4
        </h1>
        <h2>Page Not Found</h2>
        <div class="margin-bottom-32">The page you are looking for doesn&#x27;t exist or has been moved</div>
        <a href="/" class="button-primary-1 w-button">Back to home</a>
    </div>
</div>