
@{
    Layout = "_Layout";
}
    <section data-w-id="05b861ae-6aed-1fb8-6c6c-e7a829c39fdc" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="hero-about-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="hero-about-grid">
                <div>
                    <div class="section-title">
                        <div class="sub-title-wrap">
                            <img src="~/images/icon-13.svg" loading="lazy" alt="" class="sub-title-icon">
                            <div>Who We Are</div>
                        </div>
                        <h1 class="service-section-title">About Think thank</h1>
                        <p>we are passionate about crafting unique and innovative solutions that redefine creative boundaries.</p>
                    </div>
                    <ul role="list" class="hero-about-list w-list-unstyled">
                        <li>. Humble Beginnings</li>
                        <li>. Evolution &amp; Growth</li>
                        <li>. Commitment to Excellence</li>
                    </ul>
                </div>
                <div id="w-node-f13658cc-3c77-c713-fac1-934e2940f65e-a89614ec">
                    <img src="~/images/elemnet-7.svg" loading="lazy" alt="Element 7">
                </div>
            </div>
        </div>
    </section>
    <div class="divider-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="divider"></div>
        </div>
    </div>
    <section class="about-feature-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="marquee-wrap">
                <div class="marquee-items" style="transform: translate3d(-47.2968%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <div class="marquee-item">Innovation.</div>
                    <div class="marquee-item">Creative.</div>
                    <div class="marquee-item">Digitize.</div>
                    <div class="marquee-item">Inspiring.</div>
                    <div class="marquee-item">Sparking ideas.</div>
                    <div class="marquee-item">Dream.</div>
                    <div class="marquee-item">No limits.</div>
                    <div class="marquee-item">building brands.</div>
                    <div class="marquee-item">brilliance.</div>
                    <div class="marquee-item">Excellence.</div>
                    <div class="marquee-item">creating impact.</div>
                </div>
                <div class="marquee-items" style="transform: translate3d(-47.2968%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                    <div class="marquee-item">Innovation.</div>
                    <div class="marquee-item">Creative.</div>
                    <div class="marquee-item">Digitize.</div>
                    <div class="marquee-item">Inspiring.</div>
                    <div class="marquee-item">Sparking ideas.</div>
                    <div class="marquee-item">Dream.</div>
                    <div class="marquee-item">No limits.</div>
                    <div class="marquee-item">building brands.</div>
                    <div class="marquee-item">brilliance.</div>
                    <div class="marquee-item">Excellence.</div>
                    <div class="marquee-item">creating impact.</div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="divider"></div>
        </div>
    </div>
    <section data-w-id="1481936d-23f5-ded8-a07f-76cf5777781a" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="about-section section-spacing">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="section-title text-center">
                <div class="sub-title-wrap center">
                    <img src="~/images/icon-10.svg" loading="lazy" alt="" class="sub-title-icon">
                    <div>. who we are</div>
                </div>
                <h2>Embrace our identity</h2>
            </div>
            <div class="w-layout-grid grid-about-feature">
                <div id="w-node-_7a215a4b-e897-7e18-6180-1d9cd32a3acb-a89614ec" class="grid-about-feature-items">
                    <div class="service-item">
                        <div class="service-icon-wrap one">
                            <img src="~/images/icon-5.svg" loading="lazy" alt="" class="service-icon">
                        </div>
                        <div>
                            <h5>Graphics design</h5>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon-wrap two">
                            <img src="~/images/icon-2.svg" loading="lazy" alt="" class="service-icon">
                        </div>
                        <div>
                            <h5>Content creation</h5>
                            <p>similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon-wrap three">
                            <img src="~/images/icon-3.svg" loading="lazy" alt="" class="service-icon">
                        </div>
                        <div>
                            <h5>UI/UX design</h5>
                            <p>Et harum quidem rerum facilis est et expedita distinctio cum soluta nobis est.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon-wrap four">
                            <img src="~/images/icon-4.svg" loading="lazy" alt="" class="service-icon">
                        </div>
                        <div>
                            <h5>Web design</h5>
                            <p>These cases are perfectly simple and easy to distinguish.</p>
                        </div>
                    </div>
                </div>
                <div id="w-node-_77d82d6c-6545-b78b-c966-bea4e74c1e34-a89614ec" class="about-content">
                    <p>we are more than a creative agency. We are innovators, storytellers, and problem solvers driven by a shared passion for design.</p>
                    <div class="hero-about-counter-wrap">
                        <div class="hero-about-counter">
                            <div class="hero-about-counter-item">
										<span>
											<strong class="hero-about-counter-count">10</strong>
										</span> years of experience
                            </div>
                            <div class="hero-about-counter-item">
										<span>
											<strong class="hero-about-counter-count">5m</strong>
										</span> Positive reviews
                            </div>
                        </div>
                        <div class="hero-about-counter-item">
									<span>
										<strong class="hero-about-counter-count">200+</strong>
									</span> Completed projects
                        </div>
                        <div class="hero-about-counter-item">
									<span>
										<strong class="hero-about-counter-count">35+</strong>
									</span> Clients
                        </div>
                    </div>
                    <div class="about-content-button">
                        <a href="/work" class="button-white w-inline-block">
                            <div>View works</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="divider"></div>
        </div>
    </div>
    <section data-w-id="fb315b9e-5be4-5cf7-bffd-345120a35c61" style="opacity: 0;" class="mission-section section-spacing">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="w-layout-grid grid-mission">
                <div id="w-node-_76e7b6d4-e4d2-4611-6903-229eb7f6da20-a89614ec">
                    <h3>Our mission</h3>
                    <p>our mission is to revolutionize the creative landscape by crafting compelling narratives and innovative designs that captivate audiences and drive meaningful change.</p>
                </div>
                <div id="w-node-_4a5ad606-5510-3a1f-8ede-9cda9b775ac0-a89614ec">
                    <div class="section-title">
                        <h3>Our value</h3>
                        <p>our values are the guiding principles that define who we are, how we work, and the impact we strive to create.</p>
                    </div>
                    <div class="w-layout-grid grid-mission-feature">
                        <div id="w-node-_1168f0e1-f88a-c95d-cc1a-dd3a27b101aa-a89614ec">
                            <h6>Creativity</h6>
                            <ul role="list">
                                <li>Innovation</li>
                                <li>Originality</li>
                            </ul>
                        </div>
                        <div id="w-node-_94e91760-c18c-652f-3f32-0165b687afd3-a89614ec">
                            <h6>Collaboration</h6>
                            <ul role="list">
                                <li>Teamwork</li>
                                <li>Partnership</li>
                            </ul>
                        </div>
                        <div id="w-node-_2e8eb9a5-6fe3-62d2-fae6-ed7c2f820176-a89614ec">
                            <h6>Quality</h6>
                            <ul role="list">
                                <li>top-notch</li>
                                <li>high-quality solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="w-node-_661d1c8a-d19d-0815-0e70-1fb2c066d61e-a89614ec" class="mission-image-wrap">
                    <img src="~/images/elemnet-8.svg" loading="lazy" alt="Element 8" class="mission-image">
                </div>
            </div>
        </div>
    </section>
    <div class="divider-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="divider"></div>
        </div>
    </div>
    <section data-w-id="d2b54cad-5c49-cd03-36e2-bc5b1eedf475" style="opacity: 0;" class="awards-section section-spacing">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="section-title">
                <div class="sub-title-wrap">
                    <img src="~/images/icon-10.svg" loading="lazy" alt="" class="sub-title-icon">
                    <div>. Our Achievements</div>
                </div>
                <h2>Awards &amp; recognitions</h2>
            </div>
            <div class="w-layout-grid grid-award">
                <div id="w-node-_7ed5dfb2-fb39-7b40-e7fb-f76925a5ba39-a89614ec" class="award-item">
                    <img src="~/images/award-1.svg" loading="lazy" alt="Award Image" class="margin-bottom-28">
                    <div>Creativity excellence awards</div>
                </div>
                <div id="w-node-_54067fae-6556-b9a7-39b0-0b917b7fc29d-a89614ec" class="award-item">
                    <img src="~/images/award-2.svg" loading="lazy" alt="Award Image" class="margin-bottom-28">
                    <div>Design innovator of the year</div>
                </div>
                <div id="w-node-_77e81f15-a177-7f5e-bc05-180c09a4d9f3-a89614ec" class="award-item">
                    <img src="~/images/award-3.svg" loading="lazy" alt="Award Image" class="margin-bottom-28">
                    <div>National marketing achievement</div>
                </div>
                <div id="w-node-c86e50be-57e9-6838-82c5-34e2994cde79-a89614ec" class="award-item">
                    <img src="~/images/award-4.svg" loading="lazy" alt="Award Image" class="margin-bottom-28">
                    <div>Marketing brilliance awards</div>
                </div>
                <div id="w-node-_6b9ffb5a-9f96-f104-5ad1-915a9cb531ee-a89614ec" class="award-item">
                    <img src="~/images/award-5.svg" loading="lazy" alt="Award Image" class="margin-bottom-28">
                    <div>global design Distinction</div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-section">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="divider"></div>
        </div>
    </div>
    <section data-w-id="1d3652e1-e505-b8de-2864-4c10bbab7158" style="opacity: 0;" class="team-section section-spacing">
        <div class="w-layout-blockcontainer container-full w-container">
            <div class="section-title">
                <div class="sub-title-wrap">
                    <img src="~/images/icon-10.svg" loading="lazy" alt="" class="sub-title-icon">
                    <div>. our team</div>
                </div>
                <h2>The dream team</h2>
            </div>
            <div class="w-layout-grid grid-team">
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="1d3652e1-e505-b8de-2864-4c10bbab7165" href="/team/dennis-barrett" class="team-item one w-inline-block">
                                <div class="team-image-wrap">
                                    <img alt="" loading="eager" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" src="~/images/team-2-1.jpg" sizes="(max-width: 479px) 85vw, (max-width: 767px) 40vw, (max-width: 991px) 42vw, (max-width: 1279px) 18vw, (max-width: 1439px) 12vw, 23vw" srcset="images/team-2-p-500-1.jpg 500w, images/team-2-1.jpg 800w" class="team-image">
                                </div>
                                <div class="team-job-title">Sales marketing</div>
                                <h6 class="team-title">Dennis Barrett</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="1d3652e1-e505-b8de-2864-4c10bbab7170" href="/team/lori-stevens" class="team-item two w-inline-block">
                                <div class="team-image-wrap">
                                    <img alt="" loading="lazy" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" src="~/images/team-3-1.jpg" sizes="(max-width: 479px) 85vw, (max-width: 767px) 40vw, (max-width: 991px) 42vw, (max-width: 1279px) 18vw, (max-width: 1439px) 12vw, 23vw" srcset="images/team-3-p-500-1.jpg 500w, images/team-3-1.jpg 800w" class="team-image">
                                </div>
                                <div class="team-job-title">Sales marketing</div>
                                <h6 class="team-title">Lori Stevens</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="1d3652e1-e505-b8de-2864-4c10bbab717b" href="/team/jacqueline-miller" class="team-item three w-inline-block">
                                <div class="team-image-wrap">
                                    <img alt="" loading="lazy" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" src="~/images/team-4-1.jpg" sizes="(max-width: 479px) 85vw, (max-width: 767px) 40vw, (max-width: 991px) 42vw, (max-width: 1279px) 18vw, (max-width: 1439px) 12vw, 23vw" srcset="images/team-4-p-500-1.jpg 500w, images/team-4-1.jpg 800w" class="team-image">
                                </div>
                                <div class="team-job-title">Sales marketing</div>
                                <h6 class="team-title">Jacqueline Miller</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <a data-w-id="1d3652e1-e505-b8de-2864-4c10bbab7186" href="/team/louis-crawford" class="team-item four w-inline-block">
                                <div class="team-image-wrap">
                                    <img alt="" loading="lazy" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" src="~/images/team-5.jpg" sizes="(max-width: 479px) 85vw, (max-width: 767px) 40vw, (max-width: 991px) 42vw, (max-width: 1279px) 18vw, (max-width: 1439px) 12vw, 23vw" srcset="images/team-5-p-500.jpg 500w, images/team-5.jpg 800w" class="team-image">
                                </div>
                                <div class="team-job-title">Web Designer</div>
                                <h6 class="team-title">Louis Crawford</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
